<a href="https://colab.research.google.com/github/CSID-DGU/2024-2-DSCD-Fiveguys-6/blob/main/%EC%B6%9C%ED%87%B4%EA%B7%BC_%ED%95%98%EC%B0%A8%EC%A0%95%EB%A5%98%EC%9E%A5_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/DSCD/data/2024년_버스노선별_정류장별_시간대별_승하차_인원_정보(09월) (3).csv', encoding='CP949')

In [ ]:
df

In [ ]:
df_출근 = df[['노선번호', '노선명', '버스정류장ARS번호', '역명', '7시승차총승객수', '7시하차총승객수', '8시승차총승객수', '8시하차총승객수']]
df_퇴근 = df[['노선번호', '노선명', '버스정류장ARS번호', '역명', '18시승차총승객수', '18시하차총승객수', '19시승차총승객수', '19시하차총승객수']]

In [ ]:
출근_selected_values = ['12111', '12112', '12436', '12457', '12014', '12432', '12351', '12010', '12430', '12466']
퇴근_selected_values = ['22012', '22010', '22008', '23277', '23281', '23280', '23283', '23278', '23287', '23282']
출근_filtered_df = df_출근[df_출근['버스정류장ARS번호'].isin(출근_selected_values)]
퇴근_filtered_df = df_퇴근[df_퇴근['버스정류장ARS번호'].isin(퇴근_selected_values)]

퇴근_filtered_df

In [ ]:
출근_filtered_df

In [ ]:
출근_노선번호 = 출근_filtered_df['노선번호'].unique()

출근_노선번호

In [ ]:
퇴근_노선번호 = 퇴근_filtered_df['노선번호'].unique()

퇴근_노선번호

In [ ]:
filtered_df_출근 = df_출근[df_출근['노선번호'].isin(출근_노선번호)]
filtered_df_출근

In [ ]:
filtered_df_퇴근 = df_퇴근[df_퇴근['노선번호'].isin(퇴근_노선번호)]
filtered_df_퇴근

In [ ]:
filtered_df_출근 = filtered_df_출근[['버스정류장ARS번호','역명', '7시하차총승객수', '8시하차총승객수']]
filtered_df_퇴근 = filtered_df_퇴근[['버스정류장ARS번호', '역명', '18시하차총승객수', '19시하차총승객수']]
filtered_df_퇴근

In [ ]:
filtered_df_출근

In [ ]:
filtered_df_출근['버스정류장ARS번호'].nunique()

In [ ]:
filtered_df_퇴근['버스정류장ARS번호'].nunique()

In [ ]:
grouped_df_출근 = filtered_df_출근.groupby('버스정류장ARS번호')[['7시하차총승객수', '8시하차총승객수']].sum().reset_index()
grouped_df_출근['하차총승객수_합'] = grouped_df_출근['7시하차총승객수'] + grouped_df_출근['8시하차총승객수']
grouped_df_출근

In [ ]:
grouped_df_퇴근 = filtered_df_퇴근.groupby('버스정류장ARS번호')[['18시하차총승객수', '19시하차총승객수']].sum().reset_index()
grouped_df_퇴근['하차총승객수_합'] = grouped_df_퇴근['18시하차총승객수'] + grouped_df_퇴근['19시하차총승객수']
grouped_df_퇴근

In [ ]:
grouped_df_출근 = grouped_df_출근.sort_values(by='하차총승객수_합', ascending=False)
grouped_df_출근.head(30)

In [ ]:
grouped_df_퇴근 = grouped_df_퇴근.sort_values(by='하차총승객수_합', ascending=False)
grouped_df_퇴근.head(30)